<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
                window.history.back();
            }
        });

        function cancelOrder(orderId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order/" + orderId + "/cancel";
            var paramData = {
                orderId: orderId,
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function (xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    alert("주문이 취소 되었습니다.");
                    window.history.back();
                },
                error: function (jqXHR, status, error) {
                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        alert(jqXHR.responseText);
                    }
                }
            });
        }
    </script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .profile-img {
            width: 17vw;
            height: 17vw;
            padding: 0;
            background-color: #eee;
        }
        .profile-img .img {
            width: 90%;
            height: 90%;
            margin: 5%;
            border-radius: 50%;
            overflow: hidden;
            background: url("/img/shop.svg") center/cover;
        }
        .repImg{
            width:100px;
        }
    </style>
</th:block>

<div class="container mt-5" layout:fragment="content">
    <h2 class="pb-2 mb-4">[[${userName}]] 상점</h2>

    <div class="row justify-content-center profile">
        <div class="col-3 profile-img">
            <div class="img">
<!--            <img src="/img/shop.svg" alt="user" style="width:100%;">-->
            </div>
        </div>
        <div class="col-9">
            <h3 class="pb-2">상점명 : [[${userName}]]</h3>
            <p>상점 오픈일 : [[${openDay}]] 일전</p>
            <p>상품 판매 : [[${totalItem}]] 회</p>
        </div>
    </div>

    <nav class="pt-5">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-sale-tab" data-bs-toggle="tab" data-bs-target="#nav-sale"
                type="button" role="tab" aria-controls="nav-sale" aria-selected="true">판매내역</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-purchase"
                type="button" role="tab" aria-controls="nav-purchase" aria-selected="false"
                sec:authorize="isAuthenticated()" th:if="${userName == #authentication.principal.username}">
            구매내역</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-reviews"
                type="button" role="tab" aria-controls="nav-reviews" aria-selected="false">리뷰정보</button>
    </div>
    </nav>

    <div class="tab-content py-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-sale" role="tabpanel" aria-labelledby="nav-sale-tab"
             tabindex="0">
            <div class="d-flex justify-content-end mt-3">
                <a class="btn btn-sm btn-success mb-3" href="/member/item/new">상품등록</a>
            </div>

            <div th:if="${items.hasContent() == true}">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <td style="width: 10%">상품번호</td>
                        <td>상품명</td>
                        <td style="width: 15%;">상태</td>
                        <td sec:authorize="hasAuthority('ROLE_ADMIN')">등록자</td> <!-- ADMIN만 볼 수 있음 -->
                        <td style="width: 20%;">등록일</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, status: ${items.getContent()}">
                        <td th:text="${item.id}"></td>
                        <td>
                            <a th:href="'/item/'+${item.id}" th:text="${item.itemNm}"></a>
                        </td>
                        <td th:text="${item.itemSellStatus.name() == 'SELL'} ? '판매중' : '품절'"></td>
                        <td th:text="${item.createdBy}" sec:authorize="hasAuthority('ROLE_ADMIN')"></td> <!-- ADMIN만 볼 수 있음 -->
                        <td th:text="${#temporals.format(item.regTime, 'yyyy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <p class="text-center mt-5" th:if="${items.hasContent() == false}">판매 내역이 없습니다.</p>
        </div>

        <div class="tab-pane fade" id="nav-purchase" role="tabpanel" aria-labelledby="nav-purchase-tab"
             tabindex="0" sec:authorize="isAuthenticated()" th:if="${userName == #authentication.principal.username}">

            <div class="row mb-3">
                <div th:each="order : ${orders.getContent()}" class="col-md-6">
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="mb-0" th:text="${order.orderDate} + ' 주문'"></h5>
                        <div class="ms-2">
                            <th:block th:if="${order.orderStatus.name() == 'ORDER'}">
                                <button type="button" class="btn btn-sm btn-outline-secondary" th:value="${order.orderId}"
                                        onclick="cancelOrder(this.value)">주문취소
                                </button>
                            </th:block>
                            <th:block th:unless="${order.orderStatus.name() == 'ORDER'}">
                                <h5>(취소 완료)</h5>
                            </th:block>
                        </div>
                    </div>
                    <div class="card p-3 mb-3">
                        <div th:each="orderItem : ${order.orderItemDtoList}" class="row row-cols-auto mb-3 align-items-center">
                            <div class="col">
                                <img th:src="${orderItem.imgUrl}" class="rounded repImg" th:alt="${orderItem.itemNm}">
                            </div>
                            <div class="col flex-grow-1">
                                <h4 th:text="${orderItem.itemNm}"></h4>
                                <div>
                                    <span th:text="${orderItem.orderPrice} +'원'"></span>
                                    <span th:text="${orderItem.count} +'개'"></span>
                                </div>
                                <div class="text-end">
                                    <!-- 리뷰 작성 버튼 추가 -->
                                    <a th:href="'/review/' + ${orderItem.item.id}" class="btn btn-sm btn-success mt-3">리뷰 작성하기</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <p class="text-center mt-5" th:if="${orders.hasContent() == false}">구매 내역이 없습니다.</p>
        </div>

        <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab" tabindex="0">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">작성자ID</th>
                    <th scope="col">내용</th>
                    <th scope="col">작성일</th>
                </tr>
                </thead>
                <tbody>
                <!-- 리뷰가 있을 때만 반복 -->
                <tr th:each="review : ${reviews}" th:if="${reviews != null and not #lists.isEmpty(reviews)}">
                    <th scope="row" th:text="${review.id}">리뷰 번호</th>
                    <td th:text="${review.item.itemNm}">상품명</td>
                    <td th:text="${review.memberName}">작성자 ID</td>
                    <td th:text="${review.reviewDetail}">리뷰 내용</td>
                    <td th:text="${#temporals.format(review.regTime, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>


            <!-- 리뷰가 없을 때 메시지 표시 -->
            <p class="text-center mt-5" th:if="${reviews == null or #lists.isEmpty(reviews)}">리뷰 정보가 없습니다.</p>
        </div>
    </div>
</div>

</html>