p {
    font-size: 14px;
}

@media (max-width: 575px){
    .container form {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (min-width: 576px) and (max-width: 991px){
    .container form {
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media (min-width: 992px) {
    .container form {
        padding-left: 30%;
        padding-right: 30%;
    }
}